// Estilos para el reseteo de márgenes, rellenos y modelo de caja
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Estilos para el tamaño de fuente base del documento HTML
html {
    font-size: 16px;
}
