header {
    display: grid;
    

    .img-nav {
        display: flex;
        padding-left: 40px;

        img{
            width: 255px;
            height: 250px;
           
        }
    }
    .title-first {
        display: flex;
        color: white;
        font-family: 'Kenia', sans-serif;
        font-size: 2.0rem;
        margin-left: 40px;
    }
    .nav-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: #161614 ;
        font-family: 'Abel', sans-serif;
        overflow: hidden;

        .nav-ul-li  {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            margin-right: 25px;


            li {
                padding-top: 15px;
                padding-left: 10px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
            
        }
    }
   
    

}