
// Estilos para el pie de página (footer)
footer {
  @include generalFJA (flex, row, space-between, center);
  background-color: #161614;
  height: 150px;
  width: 100%;
  margin-top: 40px;

  // Estilos para el encabezado h3 dentro del pie de página
  h3 {
      color: white;
      font-size: 1.8rem;
      padding-left: 60px;
      font-family: 'Abel', sans-serif;
  }

  // Estilos para el contenedor de iconos dentro del pie de página
  .container-icon {
      @include generalDFG (flex, column, 8px);
      font-size: 30px;
      padding-right: 50px;
      a {
          i {
              color: white;
          }
      }
  }
}
