// Estilos para el encabezado (header)
header {
    // Configuración de la disposición en cuadrícula
    display: grid;

    // Logo de navegación
    .img-nav {
        @include generalDP (flex, 40px);

        // Estilos para la imagen del logo
        img {
            @include generalWH (255px, 250px);
        }
    }

    // Título principal
    .title-first {
        @include generalDFM(flex, 2.0rem, 40px);
        color: $color-blanco;
        font-family: $fuentes-kenia;
    }

    // Contenedor de navegación
    .nav-container {
        @include generalWPO(100%, 0, hidden);
        @include generalDF (flex, column);
        background-color: $color-gris-ceniza;
        font-family: $fuentes-abel;

        // Lista de navegación
        .nav-ul-li {
            @include generalDFJ (flex,row, flex-end);
            margin-right: 25px;
            // Elemento de lista
            li {
                @include generalPP(15px, 10px);
                list-style: none;

                // Estilos para los enlaces
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
