// Estilos responsivos para la sección principal (main) según el ancho de la pantalla

@media (max-width: 1810px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGG (grid, repeat(4, 1fr), 10px);
            }
        }
    }
}

@media (max-width: 1398px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGG (grid, repeat(3, 1fr), 10px);
            }
        }
    }
}

@media (max-width: 1041px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGG (grid, repeat(2, 1fr), 10px);
            }
        }
    }
}

@media (max-width: 660px) {
    // Estilos específicos para el encabezado (header) cuando el ancho de la pantalla es menor a 660px
    header {
        .nav-container {
            .nav-ul-li {
                @include generalDFJ(flex, column, flex-end);
                padding: 0;

                li {
                    @include generalDJ (flex, center);
                    font-size: 1.0rem;
                }
            }

            .img-nav {
                @include generalDJA (flex, center, center);
                padding: 0;
            }

            .title-first {
                @include generalDJ (flex, center);
                padding: 0;

                h1 {
                    @include generalDJ(flex, center);
                    padding: 0;
                }
            }
        }
    }

    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGGP (grid, repeat(1, 1fr),10px, center);
            }
        }
    }
}

@media (max-width: 458px) {
    // Estilos específicos para el encabezado (header) cuando el ancho de la pantalla es menor a 458px
    header {
        .img-nav {
            @include generalDJ (flex, center);
            padding: 0;
        }

        .nav-container {
            .nav-ul-li {
                @include generalDFJ (flex, column, flex-end);
                padding: 0;

                li {
                    @include generalDJ (flex, center);
                    font-size: 0.8rem;
                }
            }

            .title-first {
                h1 {
                    @include generalDJ (flex, center);
                    padding: 0;
                }
            }
        }
    }

    main {
        // Elimina el relleno (padding) de la sección principal (main)
        padding: 0;

        .container-main-section-fisher {
            .container-main-div-fisher {
                // Estilos para la sección principal cuando el ancho de la pantalla es menor a 458px
                @include generalDFJA (flex, column, center, center);
                @include generalPW(100%, 0);
            }
        }
    }
}
