@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el encabezado de la página */
header {
  /* Utiliza el modelo de disposición de cuadrícula para organizar los elementos hijos */
  display: grid;
  /* Estilos para el contenedor principal que incluye la navegación y otras secciones */
  /* Estilos para la sección de la imagen "Sobre mí" */
  /* Estilos para el título en la sección "Sobre mí" */
}
header .nav-ul-li {
  /* Contenedor de la navegación con dimensiones y disposición específicas */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1fr 1fr;
  height: 600px;
  padding: 0;
  background-color: #3987ba;
  /* Estilos para el logo personal */
  /* Estilos para la sección de enlaces de navegación */
}
header .nav-ul-li .image-logo {
  width: 260px;
  height: 100px;
  margin-left: 5%;
  margin-top: 30px;
  grid-area: grid-area 0/1/2/2;
}
header .nav-ul-li .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  grid-area: grid-area 2/3/1/3;
  margin-top: 20px;
  margin-right: 5%;
  font-size: 1.2rem;
  /* Estilos para la lista ordenada dentro de la navegación */
}
header .nav-ul-li .nav-link li {
  list-style: none;
  /* Estilos para los enlaces dentro de la lista */
}
header .nav-ul-li .nav-link li a {
  color: white;
  text-decoration: none;
}
header .image-my {
  width: 280px;
  height: 350px;
  margin-left: 5%;
  margin-top: 30%;
  grid-area: grid-area 0/1/3/2;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-area: grid-area 2/2/1/3;
  height: 590px;
  font-size: 3rem;
  margin: 0;
  color: white;
}

section {
  height: 500px;
  display: flex;
  flex-direction: column;
}
section p {
  margin-top: 5px;
  font-size: 2rem;
  padding-right: 2px;
  text-align: center;
}

/* Estilo para el contenedor principal */
main {
  display: grid;
  /* Estilo para la sección dentro del contenedor principal */
  /* Estilo para la sección con clase image-flex-p */
  /* Estilo para la sección con clase image-code-p */
  /* Estilo para la sección con clase image-google-p */
}
main section {
  height: 500px;
  display: flex;
  flex-direction: column;
  /* Estilo para el párrafo dentro de la sección */
}
main section p {
  margin-top: 5px;
  font-size: 2rem;
  padding-right: 2px;
  text-align: center;
}
main .image-flex-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  background-color: #f9f9f9;
  /* Estilo para el contenedor de texto dentro de la sección image-flex-p */
  /* Estilo para la imagen dentro de la sección image-flex-p */
}
main .image-flex-p .container-text-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Estilo para el primer texto dentro del contenedor de texto */
  /* Estilo para el segundo texto dentro del contenedor de texto */
}
main .image-flex-p .container-text-flex .first-text-flex {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: #4285F4;
}
main .image-flex-p .container-text-flex .second-text-flex {
  font-size: 1.3rem;
  text-align: center;
  color: #979797;
}
main .image-flex-p img {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 650px;
  height: 500px;
}
main .image-code-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  /* Estilo para el contenedor de texto dentro de la sección image-code-p */
  /* Estilo para la imagen dentro de la sección image-code-p */
}
main .image-code-p .container-text-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Estilo para el primer texto dentro del contenedor de texto */
  /* Estilo para el segundo texto dentro del contenedor de texto */
}
main .image-code-p .container-text-code .first-text-code {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: #4285F4;
}
main .image-code-p .container-text-code .second-text-code {
  font-size: 1.3rem;
  text-align: center;
  color: #979797;
}
main .image-code-p img {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 650px;
  height: 500px;
}
main .image-google-p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  background-color: #f9f9f9;
  /* Estilo para el contenedor de texto dentro de la sección image-google-p */
  /* Estilo para la imagen dentro de la sección image-google-p */
}
main .image-google-p .container-text-google {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* Estilo para el primer texto dentro del contenedor de texto */
  /* Estilo para el segundo texto dentro del contenedor de texto */
}
main .image-google-p .container-text-google .first-text-google {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  color: #4285F4;
}
main .image-google-p .container-text-google .second-text-google {
  font-size: 1.3rem;
  text-align: center;
  color: #979797;
}
main .image-google-p img {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 700px;
  height: 400px;
}

/* Estilos para el pie de página */
footer {
  /* Utiliza el modelo de disposición de cuadrícula para organizar los elementos hijos */
  display: grid;
  /* Estilos para el contenedor principal del pie de página */
  /* Estilos para el párrafo que contiene información de contacto */
  /* Estilos para la imagen de relleno de contactos */
  /* Estilos para el contenedor de iconos de contacto */
  /* Estilos para la imagen del logo personal en el pie de página */
}
footer .container-img-icon-p {
  /* Contenedor de imágenes, iconos y texto con disposición de cuadrícula */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 600px;
  background-color: #3987ba;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: grid-area 1/1/0/3;
  margin: 0;
  font-size: 2.5rem;
  color: white;
}
footer .img-team {
  grid-area: grid-area 2/1/2/2;
  width: 900px;
  height: 400px;
}
footer .container-icon {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: center;
  gap: 30px;
  grid-area: grid-area 0/2/2/3;
  font-size: 2.7rem;
  padding-right: 50px;
}
footer .container-icon a {
  color: white;
}
footer .img-logo {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  width: 260px;
  height: 100px;
  margin: 30px;
}

@media (max-width: 1607px) {
  header .image-logo {
    width: 230px;
    height: 90px;
    margin-left: 50px;
    margin-top: 20px;
  }
  header .image-my {
    width: 270px;
    height: 330px;
    margin-left: 40px;
    margin-top: 200px;
  }
  header .nav-link {
    gap: 30px;
  }
  header .nav-link li {
    font-size: 1rem;
  }
  header h1 {
    font-size: 2.6rem;
    height: 590px;
  }
  section p {
    font-size: 1.8rem;
  }
}
@media (max-width: 1442px) {
  header .nav-ul-li .nav-link {
    gap: 15px;
  }
  header .nav-ul-li .nav-link li {
    font-size: 1rem;
  }
  header h1 {
    font-size: 2.3rem;
    height: 590px;
  }
  section p {
    font-size: 1.5rem;
  }
  main .image-code-p img {
    width: 550px;
    height: 400px;
  }
  main .image-code-p .container-text-code .first-text-code {
    font-size: 1.7rem;
  }
  main .image-code-p .container-text-code .first-text-code .second-text-code {
    font-size: 1rem;
  }
  main .image-flex-p img {
    width: 550px;
    height: 400px;
  }
  main .image-flex-p .container-text-flex .first-text-flex {
    font-size: 1.7rem;
  }
  main .image-flex-p .container-text-flex .second-text-flex {
    font-size: 1rem;
  }
  main .image-google-p img {
    width: 550px;
    height: 350px;
  }
  main .image-google-p .container-text-google .first-text-google {
    font-size: 1.7rem;
  }
  main .image-google-p .container-text-google .second-text-google {
    font-size: 1rem;
  }
  footer .container-img-icon-p {
    height: 450px;
  }
  footer p {
    display: flex;
    justify-content: flex-start;
    font-size: 2rem;
    padding-left: 50px;
  }
  footer .img-team {
    width: 700px;
    height: 300px;
  }
}
@media (max-width: 1288px) {
  header .nav-ul-li {
    height: 500px;
  }
  header h1 {
    font-size: 2rem;
    height: 490px;
  }
  section p {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 0.8rem;
    gap: 10px;
  }
  main .image-flex-p img {
    width: 500px;
    height: 350px;
  }
  main .image-code-p img {
    width: 500px;
    height: 380px;
  }
  main .image-google-p img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 1086px) {
  header h1 {
    font-size: 2rem;
    height: 490px;
  }
  header .nav-link li {
    font-size: 0.8rem;
  }
  footer .img-team {
    width: 600px;
    height: 200px;
  }
  footer .img-logo {
    width: 230px;
    height: 90px;
    margin: 0px 15px 15px 0px;
  }
}
@media (max-width: 1031px) {
  header .nav-ul-li .nav-link {
    margin-right: 7px;
    gap: 8px;
  }
  header h1 {
    font-size: 1.8rem;
    height: 490px;
  }
  header .image-flex-p, header .image-code-p, header .image-google-p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
  section p {
    font-size: 1.4rem;
  }
}
@media (max-width: 969px) {
  header .nav-ul-li {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    width: 100%;
  }
  header .nav-ul-li h1 {
    text-align: center;
    order: 2;
    height: 100%;
    width: 40%;
  }
  header .nav-ul-li .image-my {
    display: none;
  }
  header .nav-ul-li .image-logo {
    display: flex;
    order: 1;
    width: 25%;
    height: auto;
  }
  header .nav-ul-li .nav-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    order: 3;
    width: 30%;
  }
  footer .img-team {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 759px) {
  main .image-flex-p, main .image-code-p, main .image-google-p {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  main .image-flex-p img, main .image-code-p img, main .image-google-p img {
    width: 250px;
    height: 200px;
    margin: 30px;
  }
  footer .container-img-icon-p {
    height: 300px;
  }
  footer .img-team {
    width: 400px;
    height: 150px;
  }
  footer .img-logo {
    width: 130px;
    height: 60px;
    margin: 0px 10px 10px 0px;
  }
}
@media (max-width: 557px) {
  header .nav-ul-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .nav-ul-li .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    order: 1;
    margin-top: 20px;
    width: 100%;
  }
  header .nav-ul-li .nav-link li {
    display: flex;
    justify-content: center;
  }
  header .nav-ul-li .image-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: 250px;
    height: 140px;
    margin-left: 0;
    margin-top: 50px;
  }
  header .nav-ul-li h1 {
    order: 3;
    width: 100%;
  }
  footer .img-logo {
    display: none;
  }
  footer .container-img-icon-p {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "p container-icon" "img-team img-team";
    margin: 0;
  }
  footer p {
    grid-area: p;
    font-size: 1rem;
  }
  footer .img-team {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: img-team;
    width: 280px;
    height: 200px;
  }
  footer .container-icon {
    grid-area: container-icon;
    font-size: 1.3rem;
  }
}
.nav-ul-li .nav-link li a {
  transition: color 0.3s;
}
.nav-ul-li .nav-link li a:hover {
  color: aqua;
}

.container-img-icon-p .container-icon a {
  transition: color 0.3s;
}
.container-img-icon-p .container-icon a:hover {
  color: aqua;
}/*# sourceMappingURL=style.css.map */