/* Estilos para el pie de página */
footer {
  /* Utiliza el modelo de disposición de cuadrícula para organizar los elementos hijos */
  display: grid;

  /* Estilos para el contenedor principal del pie de página */
  .container-img-icon-p {
      /* Contenedor de imágenes, iconos y texto con disposición de cuadrícula */
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;  
      height: 600px;
      background-color: #3987BA;
  }

  /* Estilos para el párrafo que contiene información de contacto */
  p {
      display: flex;
      grid-area: 1 / 1 / 2 / 2; 
      font-size: 2.5rem;
      justify-content: center;
      align-items: center;
      margin: 0;
      color: white;
  }

  /* Estilos para la imagen de relleno de contactos */
  .img-team {
      grid-area: 2 / 1 / 3 / 2;
      width: 900px;
      height: 400px;
  }

  /* Estilos para el contenedor de iconos de contacto */
  .container-icon {
      display: flex;
      flex-direction: column;
      font-size: 2.7rem;
      grid-area: 1 / 2 / 2 / 3;
      justify-self: flex-end;
      align-self: center;
      gap: 30px;
      color: white;
      padding-right: 50px;
  }

  /* Estilos para la imagen del logo personal en el pie de página */
  .img-logo {
      display: flex;
      grid-area: 2 / 2 / 3 / 3; 
      width: 260px;
      height: 100px;
      justify-self: flex-end;
      align-self: flex-end;
      margin: 30px;
  }
}
