/* Estilos para el pie de página */
footer {
  /* Utiliza el modelo de disposición de cuadrícula para organizar los elementos hijos */
  display: grid;

  /* Estilos para el contenedor principal del pie de página */
  .container-img-icon-p {
      /* Contenedor de imágenes, iconos y texto con disposición de cuadrícula */
      @include generalDGGG (grid, 1fr 1fr, 1fr 1fr, 10px); 
      height: 600px;
      background-color: #3987BA;
  }

  /* Estilos para el párrafo que contiene información de contacto */
  p {
    @include generalDJAG(flex, center, center, grid-area 1 / 1 / 0 / 3);
      font-size: 2.5rem;
      margin: 0;
      color: white;
  }

  /* Estilos para la imagen de relleno de contactos */
  .img-team {
      grid-area: 2 / 1 / 3 / 2;
      width: 900px;
      height: 400px;
  }

  /* Estilos para el contenedor de iconos de contacto */
  .container-icon {
     @include generalDFJAGself (flex, column, flex-end, center, 30px, grid-area 0 / 2 / 2 / 3);
      font-size: 2.7rem;
      padding-right: 50px;
         a {
            color: white;
        }
  }

  /* Estilos para la imagen del logo personal en el pie de página */
  .img-logo {
      @include generalDJAself( flex, flex-end, flex-end);
      width: 260px;
      height: 100px;
      margin: 30px;
  }
}
