/* Estilos para el pie de página */
footer {
  /* Utiliza el modelo de disposición de cuadrícula para organizar los elementos hijos */
  display: grid;

  /* Estilos para el contenedor principal del pie de página */
  .container-img-icon-p {
      /* Contenedor de imágenes, iconos y texto con disposición de cuadrícula */
      @include generalDGGG (grid, 1fr 1fr, 1fr 1fr, 10px); 
      height: 600px;
      background-color: #3987BA;
  }

  /* Estilos para el párrafo que contiene información de contacto */
  p {
    @include generalDJAG(flex, center, center, grid-area 1 / 1 / 0 / 3);
    @include generalMF(0, 2.5rem);
      color: white;
  }

  /* Estilos para la imagen de relleno de contactos */
  .img-team {
      @include generalGWH(grid-area  2 / 1 / 2 / 2, 900px, 400px); 
  }

  /* Estilos para el contenedor de iconos de contacto */
  .container-icon {
     @include generalDFJAGself (flex, column, flex-end, center, 30px, grid-area 0 / 2 / 2 / 3);
     @include generalFPright(2.7rem, 50px);
         a {
            color: white;
        }
  }

  /* Estilos para la imagen del logo personal en el pie de página */
  .img-logo {
      @include generalDJAself( flex, flex-end, flex-end);
      @include generalWHM (260px, 100px, 30px);
  }
}
