/* Estilo para el contenedor principal */
main {
    display: grid;

    /* Estilo para la sección dentro del contenedor principal */
    section {
        height: 500px;
        @include generalDF (flex, column);

        /* Estilo para el párrafo dentro de la sección */
        p {
            @include generalMFPT(5px, 2.0rem, 2px, center);  
        }
    }

    /* Estilo para la sección con clase image-flex-p */
    .image-flex-p {
        @include generalDG (grid, 1fr 1fr);
        height: 600px;
        background-color: $color-blanco-opaco;

        /* Estilo para el contenedor de texto dentro de la sección image-flex-p */
        .container-text-flex { 
            @include generalDFJAG(flex, column, center, center, 20px);

            /* Estilo para el primer texto dentro del contenedor de texto */
            .first-text-flex {
                @include generalMFT(0, 2rem, center);
                color: $color-azul-parrafo1;
            }

            /* Estilo para el segundo texto dentro del contenedor de texto */
            .second-text-flex {
                @include generalFT (1.3rem, center);
                color: $color-azul-parrafo2;
            }
        }

        /* Estilo para la imagen dentro de la sección image-flex-p */
        img {
            @include generalDJAself(flex, center, center);
            @include  generalWH (650px, 500px);
        }
    }

    /* Estilo para la sección con clase image-code-p */
    .image-code-p {
        @include generalDG (grid, 1fr 1fr);
        height: 600px;

        /* Estilo para el contenedor de texto dentro de la sección image-code-p */
        .container-text-code {
            @include generalDFJAG (flex, column, center, center, 20px);

            /* Estilo para el primer texto dentro del contenedor de texto */
            .first-text-code {
                @include generalMFT (0, 2rem, center);
                color: $color-azul-parrafo1;
            }

            /* Estilo para el segundo texto dentro del contenedor de texto */
            .second-text-code {
                @include generalFT (1.3rem, center);
                color: $color-azul-parrafo2;
            }
        }

        /* Estilo para la imagen dentro de la sección image-code-p */
        img {
            @include generalDJAself (flex, center,center);
            @include generalWH (650px, 500px);
        }
    }

    /* Estilo para la sección con clase image-google-p */
    .image-google-p {
        @include generalDG(grid, 1fr 1fr);
        height: 600px;
        background-color: $color-blanco-opaco;

        /* Estilo para el contenedor de texto dentro de la sección image-google-p */
        .container-text-google {
            @include generalDFJAG(flex, column, center, center, 20px);

            /* Estilo para el primer texto dentro del contenedor de texto */
            .first-text-google {
                @include generalMFT (0, 2rem, center);
                color: $color-azul-parrafo1;
            }

            /* Estilo para el segundo texto dentro del contenedor de texto */
            .second-text-google {
                @include generalFT (1.3rem, center);
                color: $color-azul-parrafo2;
            }
        }

        /* Estilo para la imagen dentro de la sección image-google-p */
        img {
            @include generalDJAself(flex, center, center);
            @include generalWH(700px, 400px);
        }
    }
}
