// Estilos para pantallas con ancho máximo de 1607px
@media (max-width: 1607px) {
    header {
        // Estilos para el logo en la cabecera
        .image-logo {
            @include generalWHMM(230px, 90px, 50px, 20px);
        }
        // Estilos para una imagen específica en la cabecera
        .image-my {
            @include generalWHMM (270px, 330px, 40px, 200px);
        }
        // Estilos para los enlaces de navegación
        .nav-link {
            gap: 30px;
            li {
                font-size: 1.0rem;
            }
        }
        // Estilos para un encabezado específico
        h1 {
            @include generalFH(2.6rem, 590px);
        }
    }
    // Estilos para la sección
    section {
        p {
            font-size: 1.8rem;
        }
    }
}

// Estilos para pantallas con ancho máximo de 1442px
@media (max-width: 1442px) {
    header {
        // Estilos específicos para la lista de navegación en la cabecera
        .nav-ul-li {
            .nav-link {
                gap: 15px;
                li {
                    font-size: 1.0rem;
                }
            }
        }
        // Estilos para un encabezado específico
        h1 {
            @include generalFH(2.3rem, 590px);
        }
    }
    // Estilos para la sección de contenido
    section p {
        font-size: 1.5rem;
    }
    // Estilos para el contenido principal
    main {
        // Estilos para una imagen específica
        .image-code-p img {
            @include generalWH (550px, 400px);
        }
        // Estilos para el contenedor de texto relacionado con la imagen anterior
        .image-code-p .container-text-code {
            .first-text-code {
                font-size: 1.7rem;
                .second-text-code {
                    font-size: 1.0rem;
                }
            }
        }
        // Estilos similares para otras imágenes y sus textos asociados
        .image-flex-p img {
            @include generalWH (550px, 400px);
        }
        .image-flex-p .container-text-flex {
            .first-text-flex {
                font-size: 1.7rem;
            }
            .second-text-flex {
                font-size: 1.0rem;
            }
        }
        .image-google-p img {
            @include generalWH (550px, 350px);
        }
        .image-google-p .container-text-google {
            .first-text-google {
                font-size: 1.7rem;
            }
            .second-text-google {
                font-size: 1.0rem;
            }
        }
    }
    // Estilos para el pie de página
    footer {
        // Estilos para un contenedor específico
        .container-img-icon-p {
            height: 450px;
        }
        // Estilos para un párrafo específico
        p {
            @include generalDJ(flex, flex-start);
            @include generalFPleft(2.0rem, 50px);
        }
        // Estilos para una imagen específica
        .img-team {
            @include generalWH (700px, 300px);
        }
    }
}

// Estilos para pantallas con ancho máximo de 1288px
@media (max-width: 1288px) {
    header {
        // Estilos específicos para la lista de navegación en la cabecera
        .nav-ul-li {
            height: 500px;
        }
        // Estilos para un encabezado específico
        h1 {
            @include generalFH(2.0rem, 490px);
        }
    }
    // Estilos para la sección de contenido
    section p {
        font-size: 1.4rem;
    }
    // Estilos para los enlaces de navegación
    .nav-link {
        @include generalFG(0.8rem, 10px);
    }
    // Estilos para el contenido principal
    main {
        // Estilos para una imagen específica
        .image-flex-p img {
            @include generalWH(500px, 350px);
        }
        // Estilos similares para otras imágenes
        .image-code-p img {
            @include generalWH(500px, 380px);
        }
        .image-google-p img {
            @include generalWH(500px, 300px);
        }
    }
}

// Estilos para pantallas con ancho máximo de 1086px
@media (max-width: 1086px) {
    header {
        // Estilos para un encabezado específico
        h1 {
            @include generalFH (2.0rem, 490px);
        }
        // Estilos para los enlaces de navegación
        .nav-link li {
            font-size: 0.8rem;
        }
    }
    // Estilos para el pie de página
    footer {
        // Estilos para una imagen específica
        .img-team {
            @include generalWH(600px, 200px);
        }
        // Estilos para el logo en el pie de página
        .img-logo {
            @include generalWHM(230px, 90px, 0px 15px 15px 0px);
        }
    }
}

// Estilos para pantallas con ancho máximo de 1031px
@media (max-width: 1031px) {
    header {
        .nav-ul-li {
            .nav-link {
                @include generalMG(7px, 8px);
            }
        }
        h1 {
            @include generalFH(1.8rem, 490px);
        }
        // Estilos para imágenes específicas
        .image-flex-p, .image-code-p, .image-google-p {
            @include generalDFJG (flex, column, space-around, 10px);     
        }
    }
    section p {
        font-size: 1.4rem;
    }
}

// Estilos para pantallas con ancho máximo de 969px
@media (max-width: 969px) {
    header {
        .nav-ul-li {
            @include generalDFFA (flex, row, 1, flex-start);
            width: 100%;
            h1 {
                @include generalTOHW(center, 2, 100%, 40%);
            }
            // Ocultar una imagen en ciertos tamaños de pantalla
            .image-my {
                display: none;
            }
            .image-logo {
                @include generalDO(flex, 1);
                @include generalWH(25%, auto);
            }
            .nav-link {
                @include generalDFAGO(flex, column, flex-end, 20px, 3); 
                width: 30%;
            }
        }
    }
    footer {
        .img-team {
            @include generalWH(400px, 200px);
        }
    }
}

// Estilos para pantallas con ancho máximo de 759px
@media (max-width: 759px) {
    main {
        // Estilos para imágenes específicas dentro de un contenedor
        .image-flex-p, .image-code-p, .image-google-p {
            @include generalDFG(flex, column, 30px);
            img {
                @include generalWHM (250px, 200px, 30px);
            }
        }
    }
    footer {
        // Estilos para un contenedor específico
        .container-img-icon-p {
            height: 300px;
        }
        // Estilos para una imagen específica
        .img-team {
            @include generalWH(400px, 150px);
        }
        // Estilos para el logo en el pie de página
        .img-logo {
            @include generalWHM(130px, 60px, 0px 10px 10px 0px );
        }
    }
}

// Estilos para pantallas con ancho máximo de 557px
@media (max-width: 557px) {
    header {
        .nav-ul-li {
            @include generalDFJA(flex, column,center,center);
            // Estilos específicos para la lista de navegación
            .nav-link {
                @include generalDFAGO(flex,column, center, 30px, 1);
                @include generalMW(20px, 100%);
                li {
                    @include generalDJ(flex, center);
                }
            }
            // Estilos para el logo en la cabecera
            .image-logo {
                @include generalDJAO(flex, center, center, 2);
                @include generalWHMM(250px, 140px, 0, 50px);
            }
            // Estilos para un encabezado específico
            h1 {
                @include generalOW(3, 100%);
            }
        }
    }
    footer {
        // Ocultar el logo en el pie de página en ciertos tamaños de pantalla
        .img-logo {
            display: none;
        }
        // Estilos para un contenedor específico
        .container-img-icon-p {
            @include generalDGGGareas (grid, auto auto, auto auto,   
            'p container-icon'
            'img-team img-team' );
            margin: 0;
        }
        // Estilos para un párrafo específico
        p {
            @include generalGF(p, 1.0rem);
        }
        // Estilos para una imagen específica
        .img-team {
            @include generalDJAG (flex, center, flex-end, img-team);
            @include generalWH(280px, 200px);
        }
        // Estilos para un contenedor específico
        .container-icon {
            @include generalGF(container-icon, 1.3rem);
        }
    }
}
