$color-gris-ceniza: #161614;
$color-blanco : white;
$color-blanco-opaco: #f9f9f9;
$color-azul-claro: #3987ba;
$color-azul-parrafo1: #4285F4;
$color-azul-parrafo2: #979797;
$colo-azul-aqua: aqua;


$fuentes-kenia: 'Kenia', sans-serif;
$fuentes-abel: 'Abel', sans-serif;

