// Estilos para la sección principal (main)
main {
    // Contenedor para la sección principal relacionada con "fisher"
    .container-main-section-fisher {
      // Contenedor principal dentro de la sección "fisher"
      .container-main-div-fisher {
        // Configuración del diseño de cuadrícula
        @include generalDGGP (grid,repeat(5, 1fr), 10px, center);

        // Alineación del contenido y los elementos en el centro de la cuadrícula
        place-items: center;
  
        // Estilos para las imágenes dentro del contenedor
        img {
          @include generalWHM (280px, 250px, 40px);
        }
      }
  
      // Estilos para los párrafos dentro de la sección "fisher"
      p {
        font-family: $fuentes-abel;
        font-size: 1.2rem;
      }
    }
  }
  