
@media (max-width: 1810px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
            }
        } 
    }
}



@media (max-width: 1398px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
        
            }
        }
    } 
}

@media (max-width: 1041px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
            }
        }   
    }
}
@media (max-width: 660px) {
    header {
        .nav-container {
            .nav-ul-li{
                display: flex;
                flex-direction: column;
                justify-content:flex-end;
                padding: 0;
                li {
                    display: flex;
                    justify-content: center;
                    font-size: 1.0rem;
                }

        } 

        .img-nav {
            display: flex;
            justify-self: center;
            align-self: center;
            padding: 0;
        }
        .title-first {
            display: flex;
            justify-content: center;
            padding: 0;
            h1 {
                display: flex;
                justify-content: center;
                padding: 0;
            }
        }
    }
}
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
                place-items: center;
            }
        } 
    }
}





@media (max-width: 458px) {
    
    
    
    header {
        .img-nav {
            display: flex;
            justify-content: center;
            padding: 0;
        }
        .nav-container {
            .nav-ul-li{
                display: flex;
                flex-direction: column;
                justify-content:flex-end;
                padding: 0;
                li {
                    display: flex;
                    justify-content: center;
                    font-size: 0.8rem;
                }
            }
            .title-first {
                h1 {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                }
            } 

        } 
    } 

    
    

    main {
        padding: 0;
        .container-main-section-fisher {
            .container-main-div-fisher {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 ;
                width: 100%;
            }
        } 
    }
} 