// Estilos para diferentes tamaños de pantalla utilizando media queries

// Pantallas con ancho máximo de 1810px
@media screen and (max-width: 1810px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {

                @include generalDGG (grid,repeat(4, 1fr), 10px)
            }
        } 
    }
}

// Pantallas con ancho máximo de 1398px
@media (max-width: 1398px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGG(grid,repeat(3, 1fr), 10px);
            }
        } 
    }
}

// Pantallas con ancho máximo de 1041px
@media (max-width: 1041px) {
    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGGP (grid, repeat(2, 1fr), 10px, center );
            }
        } 
    }
}

// Pantallas con ancho máximo de 660px
@media (max-width: 660px) {
    header {
        .nav-container {
            .nav-ul-li {
                @include generalDFJ (flex, column, flex-end);
                padding: 0;
                li {
                    @include generalDJ (flex, center);
                    font-size: 1.0rem;
                }
            } 
        }

        .img-nav {
            @include generalDJA (flex, center,center);
            padding: 0;
        }

        .title-first {
            @include generalDJ (flex, center);
            padding: 0;
            h1 {
                @include generalDJ (flex, center);
                padding: 0;
            }
        }
    }

    main {
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDGGP (grid, repeat(1, 1fr), 10px, center);
            }
        } 
    }
}

// Pantallas con ancho máximo de 458px
@media (max-width: 458px) {
    header {
        .nav-container {
            .nav-ul-li {
                @include generalDFJ (flex, column, flex-end);
                padding: 0;
                li {
                    @include generalDJ (flex, center);
                    font-size: 0.8rem;
                }
            }
        } 

        .img-nav {
            @include generalDJ (flex, center);
            padding: 0;
        }

        .title-first {
            @include generalDJ (flex, center);
            padding: 0;
            h1 {
                @include generalDJ (flex, center);
                padding: 0;
            }
        }
    } 

    main {
        padding: 0;
        .container-main-section-fisher {
            .container-main-div-fisher {
                @include generalDFJA(flex, column, center, center);
                padding: 0;
                width: 100%;
            }
        } 
    }
}
